<!DOCTYPE html>
<html>
  <head>
    <title>Jaka Pogoda?</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"    
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  </head>
  <body>
    <a class="lgt" href="/logout">
      <button type="button" class="btn btn-info">Wyloguj się</button>
    </a>
    
  <h1 style="font-size: 20px;">Witaj na stronie pogodowej <%= user.username %></h1>
    <div class="container">
      <h1>Jaka Pogoda</h1>
      <form action="/weather" method="get">
        <input type="text" name="city" <% if (city == null) { %> placeholder="Wpisz nazwę miasta" <% } else { %> placeholder="<%= city %>" <% } %> />
        <button type="submit">Zobacz pogodę!</button>
      </form>


      <% if (error) { %>
        <p class="error"><%= error %></p>
      <% } else if (weather) { %>
      <div class="card">
      
        <p>
          <i class="fas fa-thermometer-half"></i>
          <%=weather.main.temp%>&deg;C
        </p>
        <p>
          <i class="fas fa-cloud"></i>
          <%=weather.weather[0].main%>
        </p>

        <p>
          <i class="fas fa-map-marker-alt"></i>
          <%=weather.name%>, <%=weather.sys.country%>
        </p>
        <div>
          <% if (city !== null && error==null) { %>
            <form action="/city" method="post">
              <input type="hidden" name="city" placeholder="Wpisz nazwę miasta" value="<%= city%>" />
              <input type="hidden" name="email" value="<%= user.email %>" />
              <button type="submit">Dodaj Miasto <%=city%></button>
            </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
 

  <table>
    <h2 id="tytul_tabeli">Twoje Dodane Miasta</h2>
    <thead>
    <tr>
      <th>Miasto</th>
      <th>Temperatura</th>
      <th>Usuń</th>
    </tr>
    </thead>
    <tbody>
    <% if (cities !== null && citiesData !== null && city["name"]!=="") { %>
      <% cities.forEach(city => { %>
        <tr>
          <td><%= city["name"] %></td>
            <td><%= citiesData[city["name"]].main.temp %></td>
          <form id="deleteForm" action="/city/<%=city["id"]%>" method="post">
            <td>
              <button id="deleteButton" type="submit" class="btn btn-danger">X</button>
            </td>
          </form>
        </tr>
      <% }); %>
    <% } %>
    </tbody>
  </table>
  
  <div class="signature">Oskar i Mikołaj</div>
  </body>
  
</html>
